html, body {
    font-family: 'Nunito', sans-serif;
    transition: 0.3s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    position: relative;
    padding: 0.5rem 1rem;
}

#myBody {
    background-color: white;
}

.dark#myBody {
    background-color: #131617;
}


/* Header */
header {
    width: 100%;
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
    z-index: 1;
    transition: 0.7s;
}

.dark header {
    background-color: #131617;
}

header .nav-link {
    color: #131617;
    position: relative;
}

.dark header .nav-link {
    color: white;
}

#master {
    margin-left: 5px;
    transform: translateY(-5px);
}

.logo_icon {
    margin-top: 5px;
}

.nut {
    font-size: 22px;
}


header .logo_icon,
#nut_Home,
#master {
    color: #dc4f72;
}

header .nav-link {
    padding: 8px 1.5rem;
    font-size: medium;
}

header .navbar-brand {
    font-size: 1.7rem;
    font-weight: 600;
}

.dropdown-item.active {
    background-color: white;
    color: #131617;
}

#navbarDropdown {
    color: black;
    text-align: center;
    max-width: fit-content;
}

.dark #navbarDropdown {
    color: white;
    text-align: center;
}

.dark .dropdown-item.active {
    background-color: #131617;
    color: white;
}

.active .nav-link:hover,
.dropdown-menu .active:hover {
    color: #dc4f72;
    position: relative;
}

.active .nav-link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #dc4f72;
    bottom: 0;
    left: 0;
    margin-left: 8px;
    transition: 0.7s;
}

.dropdown-menu .active::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #dc4f72;
    bottom: 0;
    left: 0;
    margin-left: 1.5rem;
    transition: 0.7s;
}

.active .nav-link:hover::before,
.dropdown-menu .active:hover::before {
    width: 20px;
}

.dropdown-menu {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-menu {
    border: 1px solid #B7B7B7;
}

.dropdown-menu a {
    color: #131617;
}

.dropdown-menu,
.dropdown-menu a:hover {
    background-color: white;
    color: #131617;
}

.dark .dropdown-menu {
    border: 1px solid #5f5858;
}

.dark .dropdown-menu a {
    color: white;
}

.dark .dropdown-menu,
.dark .dropdown-menu a:hover {
    background-color: #131617;
    color: white;
}

.header__search i {
    font-size: 15px;
    color: #888888;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #494949;
    background-color: white;
    transition: 0.3s;
}

.header__search i:hover {
    color: #131617;
}

.dark .header__search i {
    background-color: #181b1b;
}

.dark .header__search i:hover {
    color: whitesmoke;
}

.header__button button {
    width: 200px;
    height: 50px;
    font-weight: 600;
    border: 1px solid #dc4f72;
    color: #dc4f72;
    background-color: white;
    outline: none;
    transition: 0.4s;
}

.header__button button:focus {
    box-shadow: 0 0 0 .2rem rgba(245, 95, 140, 0.421)
}

.dark .header__button button {
    background-color: #131617;
}

.header__button button:hover {
    color: white;
    background-color: #dc4f72;
}

.header__sunmoon button:focus {
    box-shadow: none;
    cursor: auto;
}

#switchButton {
    background-color: white;
    position: relative;
    left: 40px;
}

#switchButton .gg-sun {
    display: none;
}
#switchButton .gg-moon {
    display: block;
}

.dark #switchButton {
    background-color: #131617;
}

.dark #switchButton .gg-sun {
    display: block;
    color: white;
}
  
.dark #switchButton .gg-moon {
    display: none;
}

.dropdown-menu {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-menu {
    border: 1px solid #B7B7B7;
}

.dropdown-menu a {
    color: #131617;
}

.dropdown-menu,
.dropdown-menu a:hover {
    background-color: white;
    color: #131617;
}

.dark .dropdown-menu {
    border: 1px solid #5f5858;
}

.dark .dropdown-menu a {
    color: white;
}

.dark .dropdown-menu,
.dark .dropdown-menu a:hover {
    background-color: #131617;
    color: white;
}

.dark .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-toggler-icon {
    background-color: #dc4f72;
    border-radius: 2px;
}

.navbar-light .navbar-toggler {
    outline: none;
    border: none;
}

.header__search a {
    width: 40px;
    height: 40px;
    padding: 4px;
    line-height: 40px;
    text-align: center;
    transform: translateY(-50%);
}

.header__search i {
    font-size: 15px;
    color: #888888;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #494949;
    background-color: white;
    transition: 0.3s;
}

.header__search i:hover {
    color: #131617;
}

.dark .header__search i {
    background-color: #181b1b;
}

.dark .header__search i:hover {
    color: whitesmoke;
}

.header__button button {
    width: 200px;
    height: 50px;
    font-weight: 600;
    border: 1px solid #dc4f72;
    color: #dc4f72;
    background-color: white;
    outline: none;
    transition: 0.4s;
}

.header__button button:focus {
    box-shadow: 0 0 0 .2rem rgba(245, 95, 140, 0.421)
}

.dark .header__button button {
    background-color: #131617;
}

.header__button button:hover {
    color: white;
    background-color: #dc4f72;
}

.header__sunmoon button:focus {
    box-shadow: none;
    cursor: auto;
}


#myBody {
    background-color: white;
}
#switchButton {
    background-color: white;
}
#switchButton .gg-sun {
    display: none;
}
#switchButton .gg-moon {
    display: block;
}
  
.dark#myBody {
    background-color: #131617;
}

.dark #switchButton {
    background-color: #131617;
}

.dark #switchButton .gg-sun {
    display: block;
    color: white;
}
  
.dark #switchButton .gg-moon {
    display: none;
}

.pop-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 99;
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

.popup {
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}

.popup form input {
    font-size: 16px;
    line-height: 25px;
    color: #b7b7b7;
    height: 55px;
    padding: 15px 20px 12px;
    background: white;
    width: 100%;
    border: 1px solid #333;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
    outline: none;
}

.dark .popup form input {
    background: #131617;
}

.search-box .btn {
    outline: none;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    height: 55px;
    background: #dc4f72;
    padding: 0 25px;
    border-radius: initial;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: 0.3s;
}

.search-box .btn:hover {
    opacity: 0.8;
}

.popup .close {
    position: absolute;
    right: 20px;
    top: -50px;
    transition: all 0.2s;
    font-size: 30px;
    color: #b5b3b3;
    opacity: 0.7;
}

.popup .close:hover {
    color: whitesmoke;
}


.pop-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 99;
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

.popup {
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}

.popup form input {
    font-size: 16px;
    line-height: 25px;
    color: #b7b7b7;
    height: 55px;
    padding: 15px 20px 12px;
    background: white;
    width: 100%;
    border: 1px solid #333;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
    outline: none;
}

.dark .popup form input {
    background: #131617;
}

.search-box .btn {
    outline: none;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    height: 55px;
    background: #dc4f72;
    padding: 0 25px;
    border-radius: initial;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: 0.3s;
}

.search-box .btn:hover {
    opacity: 0.8;
}

.popup .close {
    position: absolute;
    right: 20px;
    top: -50px;
    transition: all 0.2s;
    font-size: 30px;
    color: #b5b3b3;
    opacity: 0.7;
}

.popup .close:hover {
    color: whitesmoke;
}

/* header khi scroll */
.sticky header {
    height: 75px;
    opacity: 1;
}

/* Started */
.started {
    padding-top: 90px;
    background-image: url(../img/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.started::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        white 80%,
        rgba(255, 255, 255, 0.95) 100%
    );
    opacity: 0.96;
}
.dark .started::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        #131617 0,
        #96999a 30%,
        #ffffff 60%,
        #ffffff 100%
    );
    background-size: 190%;
    opacity: 0.97;
}

.started__item {
    position: relative;
    margin-top: 40px;
}

.started__left {
    margin-top: 50px;
    transition: all 0.4s;
}

.started__left h1 {
    color: #131617;
    margin-top: 50px;
    font-size: 50px;
    line-height: 57.5px;
    font-weight: 700;
}

.dark .started__left h1 {
    color: whitesmoke
}

.started__left p {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

.dark .started__left p {
    color: #b7b7b7;
}

.started__button button {
    margin-bottom: 100px;
    width: 150px;
    height: 50px;
    font-weight: 600;
    border: 1px solid #dc4f72;
    color: #dc4f72;
    background-color: transparent;
    outline: none;
    transition: 0.5s;
}

.started__button button:focus {
    box-shadow: 0 0 0 .2rem rgba(245, 95, 140, 0.421)
}

.started__button button:hover {
    color: white;
    background-color: #dc4f72;
}

.started__right img {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Tools */
#tools {
    color: white;
    text-align: center;
    padding: 80px 0;
    position: relative;
    transition: all 0.4s;
}

.tools__list {
    display: flex;
    justify-content: space-between;
}

.tools__container h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.tools__container .tools__title {
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    color: #131617;
}

.dark .tools__container .tools__title {
    color: whitesmoke;
}

.tools__container .tools__decs {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
}

.dark .tools__container .tools__decs {
    color: #b7b7b7b7;
}

.tools__item {
    display: block;
    margin-bottom: 30px;
    background-color: #f7f9fc;
    width: calc(100% / 3 - 15px);
    padding: 30px;
    border-radius: 6px;
    text-align: center;
    border: 1.32px solid #f7f9fc;
    transition: 0.5s;
}

.dark .tools__item {
    background-color: #191c1d;
    border: 1.32px solid #191c1d;
}

.tools__item h3 {
    color: #131617;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    margin: 15px 0;
}

.dark .tools__item h3 {
    color: whitesmoke;
}

.tools__item p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

.dark .tools__item p {
    color: #b7b7b7b7;
}

.tools__item:hover {
    cursor: pointer;
    transform: translateY(-10px);
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dark .tools__item:hover {
    background-color: #131617;
}

/* Company */
/* .company {
    padding-top: 30px;
    margin-bottom: 30px;
    background-color: #f7f9fc;
    transition: 0.4s;
}

.dark .company {
    background-color: #191c1d;
}

.company__container h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.company__container .company__title {
    font-size: 35px;
    line-height: 1;
    font-weight: 700;
    color: #131617;
}

.dark .company__container .company__title {
    color: whitesmoke;
}

.company__container .company__decs {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.4px;
}

.dark .company__container .company__decs {
    color: #b7b7b7b7;
}

.company__item {
    position: relative;
    margin-top: 30px;
}

.company__left {
    margin-bottom: 30px;
    transition: all 0.4s;
}

.company__left h1 {
    color: #131617;
    font-size: 50px;
    line-height: 57.5px;
    font-weight: 700;
}

.dark .company__left h1 {
    color: whitesmoke
}

.company__left p {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.dark .company__left p {
    color: #b7b7b7;
}

.company__button button {
    height: 50px;
    font-weight: 600;
    border: 1px solid #dc4f72;
    color: white;
    background-color: #dc4f72;
    outline: none;
    transition: 0.5s;
}

.company__button button:focus {
    background-color: #d62f58;
    box-shadow: 0 0 0 .2rem rgba(245, 95, 140, 0.421)
}

.company__button button:hover {
    color: white;
    background-color: #d62f58;
}

.company__right img {
    width: 100%;
    border-radius: 5px;
    transition: 0.4s;
}

.company__right img:hover {
    transform: translateY(-10px);
} */

/* Go To Top */
.go_to_top {
    width: 45px;
    height: 45px;
    background: #dc4f72;
    border-radius: 4px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    right: 0px;
    bottom: 0px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    box-shadow: -4px 4px 24px -10px #dc4f72;
    cursor: pointer;
    opacity: 0.7;
    display: none;
    transition: 0.3s;
}

.sticky .go_to_top {
    display: block;
}

.go_to_top:hover {
    background-color: #dd5576;
    opacity: 1;
}

/* 990 */
@media screen and (max-width : 990px) {
    header .right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .active {
        margin-right: 30px;
    }

    .navbar .dark-mode {
        position: absolute;
        right: 100px;
        top: 20px;
    }

    .navbar-expand-lg {
        height: 100%;
    }

    .header__search a {
        width: 40px;
        height: 40px;
        padding: 4px;
        line-height: 40px;
        text-align: center;
        transform: translateY(-50%);
    }
    .tang_height header {
        height: 395px;
    }
}

@media screen and (min-width : 991px) {
    .nav-item .nut {
        top: 10px;
    }
    .company__left {
        width: 50%;
    }
    .company__button button {
        margin-bottom: 100px;
        width: 150px;
        height: 50px;
    }
    .company__right {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 32%;
        max-width: calc(96% / 3);
    }
}

@media screen and (min-width: 767.8px) {
    .col-md-6 {
        max-width: 48%;
    }
    header {
        width: 100%
    }
}